---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome">
  <nav class="flex justify-center text-8xl py-2">
    <span class="rounded-full border-spacing-2 border-4 border-slate-900"
      >🌝</span
    >
    <span
      class="rounded-full border-spacing-2 border-4 border-yellow-300 shadow-sm shadow-yellow-300"
      >🌚</span
    >
  </nav>
  <main class="max-w-prose grid items-center grid-cols-12 gap-4 mx-auto">
    <div class="col-span-8">
      <h1 class="">Hi, I'm Johnny</h1>
      <h2 class="sub-title">Software Engineer in Seattle</h2>
    </div>
    <div class="col-span-4">
      An obscure gradient rectangle which reveals a picture of me on hover
    </div>
    <article class="col-span-12">
      <p>
        Want to read in bionic font? It helps your brain read faster. Click on
        or off.
      </p>
      <ul class="flex gap-4">
        <li>
          <button class="px-2 border-4 rounded-sm border-dotted">short</button>
        </li>
        <li>
          <button class="px-2 border-4 rounded-sm border-dotted">long</button>
        </li>
        <li>
          <button class="px-2 border-4 rounded-sm border-dotted">resumé</button>
        </li>
      </ul>
      <p>Some text about me.</p>
    </article>
  </main>
</Layout>

<style>
  h1 {
    font-size: var(--s3);
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-size: var(--s2);
    font-weight: 400;
    color: var(--color-mid);
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
