---

---

<article class="col-span-12">
  <p>
    Want to read in bionic font? It helps your brain read faster. Click on
    or off.
  </p>
  <p class="p-6">I feel like a prompt-answer theme might be cool to implement. You know, so they get to know me</p>
  <ul class="flex gap-4">
    <li>
      <button class="px-2 border-4 rounded-sm border-dotted">short</button>
    </li>
    <li>
      <button class="px-2 border-4 rounded-sm border-dotted">long</button>
    </li>
    <li>
      <button class="px-2 border-4 rounded-sm border-dotted">resumé</button>
    </li>
  </ul>
  <p>Some text about me.</p>
</article>