---

---

<div class="col-span-8">
  <h1 class="">Hi, I'm Johnny</h1>
  <h2 class="sub-title">Software Engineer in Seattle</h2>
</div>
<div class="col-span-4 gap-3">
  <div class="flex flex-col items-center">
    <img src="/images/flowers.jpeg" alt="flowers" class="rounded-md" />
    <div class="flex gap-3 my-2 py-2 px-4 rounded-lg bg-slate-300">
      <img
        src="/images/flowers.jpeg"
        alt="flowers"
        class="rounded-md blur-sm hover:blur-none transition duration-300 ease-in-out h-12"
      />
      <img
        src="/images/flowers.jpeg"
        alt="flowers"
        class="rounded-md blur-sm hover:blur-none transition duration-300 ease-in-out h-12"
      />
      <img
        src="/images/flowers.jpeg"
        alt="flowers"
        class="rounded-md blur-sm hover:blur-none transition duration-300 ease-in-out h-12"
      />
      <img
        src="/images/flowers.jpeg"
        alt="flowers"
        class="rounded-md blur-sm hover:blur-none transition duration-300 ease-in-out h-12"
      />
    </div>
  </div>
</div>
<style>
  h1 {
    font-size: var(--s3);
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-size: var(--s2);
    font-weight: 400;
    color: var(--color-mid);
    margin: 0;
  }
</style>