---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --color-dark: #050505;
    --color-darkish: #404040;
    --color-lightish: #e6e6e6;
    --color-light: #fafafa;
    --color-mid: grey;
    --ratio: 1.4;
    --s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
    --s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
    --s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
    --s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
    --s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
    --s0: clamp(1rem, 1rem + 0vw, 1rem);
    --s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
    --s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
    --s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
    --s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
    --s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
    --measure: 65ch;
    --line-height: var(--ratio);
    --line-height-small: calc(0.8 * var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);
    line-height: var(--ratio);
    font-size: calc(0.333vw + 1em);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
